.container {
  margin-top: 2rem;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.header {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2d3748;
}

.hr {
  border-top-width: 2px;
  border-color: #e2e8f0;
  width: 100%;
  margin-top: 1rem;
}

.cardsContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

@media (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #718096;
}

.cardValue {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d3748;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cardReturnPositive {
  font-size: 1rem;
  font-weight: bold;
  color: #48bb78;
}

.cardReturnValuePositive {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #38a169;
}
